*{
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  place-items: center;
  place-content: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

/* task list container */

.task_list_view{
  width: 100%;
  max-width: 600px;
  height: fit-content;
  min-height: 500px;
  border: 1px solid rgb(84, 84, 84);
  padding: 2rem 3rem;
  border-radius: 1rem;
  overflow: hidden;
}

.task_list_view > h1{
  font-weight: lighter;
  text-align: center;
  margin-bottom: 2rem;
}